#oneGoogleBar img{
    padding-top: 109px;
    
    
}
#oneGoogleBar{
    
    margin-top: 47px;
    margin-bottom: 15px;
}

.searchbar{

        background: #fff;
        display: flex;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        border-radius: 24px;
        height: 44px;
        padding-left:16px;
        padding-right: 16px;
        margin: 0 auto;
        max-width: 582px;
        
}

.searchbar:hover{
    background: #fff;
    background-color: rgb(255, 255, 255);

    border: 1px solid #dfe1e5;
    border-top-color: rgb(223, 225, 229);
    border-right-color: rgb(223, 225, 229);
    border-bottom-color: rgb(223, 225, 229);
    border-left-color: rgb(223, 225, 229);
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    
}

.internalsearchbar{
    flex: 1;
display: flex;
padding: 5px 8px 0 16px;
    padding-left: 16px;
padding-left: 14px;
width: auto;
border: none;
/* width: 560px; */
}

.seperator{
    height: 72px;
    padding-top: 18px;
}

.submit{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.submit:hover{
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
background-color: #f8f9fa;
border: 1px solid #DADCE0;
color: #202124;
border-radius: 5px;
}

input[type="submit"]:focus{
    border: 1px solid #4d90fe;
outline: none;
}

.placement{
    text-align: right;
    margin-top: 20px;
}

.placement a{
    margin-right: 15px;
}

.logo-text {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 105px;
    position: relative;
    top: -15px;
    white-space: nowrap;
}